<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>Login with OTP Page</title>

  <!-- General CSS Files -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

  <!-- CSS Libraries -->
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
  <!-- Template CSS -->
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/components.css">
  <style>
    .main-content {
      padding-left: 30px;
    }
  </style>
</head>

<body>
  <input type="hidden" value="{{ .baseUrl }}" id="base-url">
  <div id="app">
    <div class="main-wrapper">
      <div class="navbar-bg"></div>

      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
          <div class="section-header">
            <h1>Page 1</h1>
          </div>
          <div class="section-body">
            <div class="card">
              <div class="card-header">
                <h4>GoBiz Login with Phone Number</h4>
              </div>
              <div class="card-body">
                <div class="form-group">
                  <label>Example: (62) 87821234567 </label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        (62)
                      </div>
                    </div>
                    <input type="text" class="form-control" id="phone_number" placeholder="87821234567">
                    <input type="hidden" id="otp-code">
                  </div><br/>
                  <div class="buttons">
                    <button type="button" id="btn-submit-phone-number" onclick="submitPhoneNumber()" class="btn btn-primary">Let's go!</button>
                    <!-- <a onclick="submitPhoneNumber()" id="btn-submit-phone-number" class="btn btn-primary" style="color: white;">Let's go!</a> -->
                  </div>
                </div>
              </div>
            </div>

            <div class="card" id="otp-card" style="display: none;">
              <div class="card-header">
                <h4>Input your OTP Number</h4>
              </div>
              <div class="card-body">
                <div class="form-group">
                  <label>Example: XXXX (4 Digit)</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        OTP
                      </div>
                    </div>
                    <input type="text" class="form-control" id="otp">
                  </div><br/>
                  <div class="buttons">
                    <button type="button" onclick="submitOtp()" class="btn btn-primary">Submit!</button>
                    <!-- <a onclick="submitOtp()" id="btn-submit-phone-number" class="btn btn-primary" style="color: white;">Submit!</a> -->
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="section-body">
          </div>
        </section>
      </div>
    </div>
  </div>

  <!-- General JS Scripts -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.6/jquery.nicescroll.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
  <script src="/js/stisla.js"></script>

  <!-- JS Libraies -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

  <!-- Template JS File -->
  <script src="/js/scripts.js"></script>
  <script src="/js/custom.js"></script>
  <script>
    var BASE_URL
    var OTP_TOKEN
    $(document).ready(function () {
      BASE_URL = $("#base-url").val()
      console.log(BASE_URL)
      $("#otp-card").hide()
    })
    function submitPhoneNumber () {
      var reqBody = {
        "phone_number": $("#phone_number").val()
      }
      reqBody = JSON.stringify(reqBody)
      $.ajax({
        type: "POST",
        url: BASE_URL + "/request_otp_gobiz",
        contentType: "application/json",
        data: reqBody,
        async: false,
        beforeSend: function () {
          Swal.fire({
            title: 'Please wait!',
            text: 'Request OTP to GoBiz',
            allowOutsideClick: false,
            showConfirmButton: false
          })
        },
        success: function(response) {
          var message = ''
          var title = ''
          if (response.response_data.success == true) {
            $("#otp-code").val(response.response_data.data.otp_token)
            title = 'Success!'
            message = response.message
            $("#otp-card").show()
          } else {
            title = 'Error!'
            var errors = response.response_data.errors
            for (var key in errors) {
              message += errors[key].message + '. '
            }
          }
          Swal.fire({
            title: title,
            text: message
          })
        }
      })
    }

    function submitOtp () {
      var reqBody = {
        "otp_token": $("#otp-code").val(),
        "otp": $("#otp").val()
      }
      reqBody = JSON.stringify(reqBody)
      $.ajax({
        type: "POST",
        url: BASE_URL + "/request_token_gobiz",
        contentType: "application/json",
        data: reqBody,
        beforeSend: function () {
          Swal.fire({
            title: 'Please wait!',
            text: 'Request Token to GoBiz',
            allowOutsideClick: false,
            showConfirmButton: false
          })
        },
        success: function(response) {
          Swal.fire({
            title: 'Done!',
            text: response.message
          })
          var message = ''
          var title = ''
          if (response.response_data.success == false) {
            title = 'Error!'
            var errors = response.response_data.errors
            for (var key in errors) {
              message += errors[key].message + '. '
            }
          } else {
            title = 'Success!'
            message = response.message
            localStorage.setItem("gobiz_access_token", response.response_data.access_token)
            window.location.href = "page2"
          }
          Swal.fire({
            title: title,
            text: message
          })
        }
      })
    }

  </script>
  <!-- Page Specific JS File -->
</body>
</html>
