<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>GoBiz Menu</title>

  <!-- General CSS Files -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

  <!-- CSS Libraries -->
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
  <link rel="stylesheet" href="/node_modules/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="/node_modules/datatables.net-select-bs4/css/select.bootstrap4.min.css">
  
  <!-- Template CSS -->
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/components.css">
  <style>
    .main-content {
      padding-left: 30px;
    }
  </style>
</head>

<body>
  <input type="hidden" value="{{ .baseUrl }}" id="base-url">
  <div id="app">
    <div class="main-wrapper">
      <div class="navbar-bg"></div>

      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
          <div class="section-header">
            <h1>Page 2</h1>
            <br/>
          </div>
          <div class="section-body">
            <div class="card">
              <div class="card-header">
                <div class="buttons">
                  <button type="button" id="btn-submit-phone-number" onclick="window.location.href='/'" class="btn btn-danger">Go back to page 1</button>
                </div>
              </div>
              <div class="card-body">
                <p>
                  <b>Note:</b> <br/>
                  Start Date akan menggunakan waktu 00:00:00, jika anda memasukkan tanggal 01/01/2020 maka akan diconvert menjadi 01/01/2020 00:00:00 <br/>
                  End Date akan menggunakan waktu 00:00:00, jika anda memasukkan tanggal 04/01/2020 maka akan diconvert menjadi 04/01/2020 00:00:00 <br/>
                  Akses data hanya bisa dilakukan sekitar 1-2 jam. Apabila sudah melewati itu lakukan kembali request OTP melalui halaman utama.
                </p>
                <div class="form-group">
                  Start Date :<input type="text" class="form-control" id="start_date" value="01/01/2020"> <br/>
                  End Date: <input type="text" class="form-control" id="end_date">
                  <br/>
                  <div class="buttons">
                    <button type="button" id="btn-submit-phone-number" onclick="getTransactions()" class="btn btn-primary">Get Transactions!</button>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div class="section-body" class="section-transaction">
            <div class="card">
              <div class="card-header">
                <h4></h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table id="my-table" class="display" style="width: 100%;">
                      <thead>
                          <tr>
                              <th>Order At</th>
                              <th>Order ID</th>
                              <th>Customer ID</th>
                              <th>Customer Name</th>
                              <th>Customer Email</th>
                              <th>Customer Phone</th>
                          </tr>
                      </thead>
                      <tbody class="my-table-body">
                      </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>

  <!-- General JS Scripts -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.6/jquery.nicescroll.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
  <script src="/js/stisla.js"></script>

  <!-- JS Libraies -->
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
  <script src="/node_modules/datatables/media/js/jquery.dataTables.min.js"></script>
  <script src="/node_modules/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
  <script src="/node_modules/datatables.net-select-bs4/js/select.bootstrap4.min.js"></script>


  <!-- Template JS File -->
  <script src="/js/scripts.js"></script>
  <script src="/js/custom.js"></script>
  <script>
    var BASE_URL
    var OTP_TOKEN
    $(document).ready(function () {
      $('#table_id').DataTable();
      BASE_URL = $("#base-url").val()
      console.log(BASE_URL)
      var isExistsProfile = false
      if (localStorage.getItem('gobiz_merchant_id') == undefined || localStorage.getItem('gobiz_merchant_id') == "") {
        getProfile()
      }
      $("#start_date").daterangepicker({
        singleDatePicker: true
      })
      $("#end_date").daterangepicker({
        singleDatePicker: true
      })
    })

    function getProfile () {
      var reqBody = {
        "access_token": localStorage.getItem('gobiz_access_token')
      }
      reqBody = JSON.stringify(reqBody)
      $.ajax({
        type: "POST",
        url: BASE_URL + "/request_profile_gobiz",
        contentType: "application/json",
        data: reqBody,
        async: false,
        beforeSend: function () {
          Swal.fire({
            title: 'Please wait!',
            text: 'Request Profile Merchant to GoBiz',
            allowOutsideClick: false,
            showConfirmButton: false
          })
        },
        success: function(response) {
          var message = ''
          var title = ''
          if (response.success == true) {
            title = 'Success!'
            message = response.message
            localStorage.setItem('gobiz_merchant_id', response.response_data.user.merchant_id)
          } else {
            title = 'Error!'
            var errors = response.response_data.errors
            for (var key in errors) {
              message += errors[key].message + '. '
            }
          }
          Swal.fire({
            title: title,
            text: message
          })
        }
      })
    }

    function parseISOString(s) {
      var date = new Date(s)
      return date.getDate() + '/' + (date.getMonth()+1) + '/' + date.getFullYear()
    }

    function getTransactions () {
      var asd = new Date($("#start_date").val())

      var reqBody = {
        "merchant_id": localStorage.getItem('gobiz_merchant_id'),
        "access_token": localStorage.getItem('gobiz_access_token'),
        "start_date": new Date($("#start_date").val()).toISOString(),
        "end_date": new Date($("#end_date").val()).toISOString()
      }
      reqBody = JSON.stringify(reqBody)
      $.ajax({
        type: "POST",
        url: BASE_URL + "/request_transactions_gobiz",
        contentType: "application/json",
        data: reqBody,
        beforeSend: function () {
          Swal.fire({
            title: 'Please wait!',
            text: 'Request Transaction Merchant to GoBiz. This might take a while.',
            allowOutsideClick: false,
            showConfirmButton: false
          })
        },
        success: function(response) {
          var message = ''
          var title = ''
          if (response.response_data.errors == undefined) {
            title = 'Success!'
            message = response.message
            $(".my-table-body").empty()
            var gabung = ''
            var data = response.response_data
            for (var key in data) {
              gabung += '<tr>'
              gabung += '<td>' + parseISOString(data[key].ordered_at) + '</td>'
              gabung += '<td>' + data[key].order_id + '</td>'
              gabung += '<td>' + data[key].customer.customer_id + '</td>'
              gabung += '<td>' + data[key].customer.customer_name + '</td>'
              gabung += '<td>' + data[key].customer.customer_phone + '</td>'
              gabung += '<td>' + data[key].customer.customer_email + '</td>'
              gabung += '</tr>'
            }
            $(".my-table-body").append(gabung)
            $("#my-table").DataTable()



          } else {
            title = 'Error!'
            var errors = response.response_data.errors
            for (var key in errors) {
              message += errors[key].message + '. '
            }
          }
          Swal.fire({
            title: title,
            text: message
          })
          console.log(response)
        }
      })
    }

  </script>
  <!-- Page Specific JS File -->
</body>
</html>
